PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mamaya_id_db
JWT_SECRET=change-this-secret
ADMIN_NAME=Admin Mamaya
ADMIN_EMAIL=admin@mamaya.id
ADMIN_PASSWORD=admin12345
MANAGER_NAME=Manager Mamaya
MANAGER_EMAIL=manager@mamaya.id
MANAGER_PASSWORD=manager12345
